.Header{
    height: 100px;
}
.Header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    padding: 10px 20px;
    
}
.Header__title{

}
.Header__menu{

}